.dropdown-complete {
  width: 100%;
  margin: 0 auto;

  h1.main-heading {
    color: rgb(0, 95, 204);
  }

  @media screen and (min-width: 960px) {
    padding-top: 50px;
  }

  @media screen and (max-width: 960px) {
    width: calc(100% - 40px);
  }
}
